.nd-region > .container-fluid > .row > .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
body{
  max-width: 100%;
  /*overflow-x: hidden;*/
}
ul li.leaf {
 list-style-image: none;
 list-style-type: none; 
}
.commerce-product-field-field-old-price,
.commerce-product-field-field-old-price div,
.commerce-product-field-commerce-price,
.commerce-product-field-commerce-price div,
.form-item-quantity,
.form-item-quantity .form-group,
.form-item-quantity .form-group input,
.commerce-product-sku-label{
  display: inline;
}
.field-name-field-rating{
  display: inline-block;
}
.commerce-product-field-commerce-price{
  font-weight: bold;
}
.auto-width{
  width: auto !important;
}
.bold{
  font-weight: bold;
}
.grippie{
  display: none;
}
a{
  text-decoration: none;
}
.white{
  color: #fff;
}
blockquote{
  margin-top: -8px;
}
.gray{
  color: #777;
}

/* TB Mega Menu */
.mn-sub-multi {
 overflow: visible;
}
.inner-nav {
  max-width: 90%;
}

/* Add to Cart Form */
.commerce-add-to-cart .btn{
  vertical-align: top;
}

/* Comements*/
.comments-edit-links{
  float: right;
}
.comments-edit-links a{
  text-decoration: none;
}
.local-scroll{
  position: relative;
}
.comment-item-data a{
  padding-right: 10px;
}
.comment-item > ul > .comment-item{
  padding-top: 0 !important;
}
.media-body {
  margin-bottom: 2em;
}

/* Forms */
.form-item, .form-actions {
  margin-top: 0;
  margin-bottom: 20px !important;
}
.form-item .form-item{
  margin-bottom: 0px !important; 
}
.form-item label{
  font-weight: normal;
}
.form select[multiple] {
  height: auto !important;
}
.webform-datepicker .form-item{
  width: 30%;
  display: inline-block !important;
}
.webform-datepicker input.webform-calendar{
  margin-top: 8px;
}
.webform-component-file .form-managed-file .form-submit{
  display: none;
}
.form-managed-file{
  margin-bottom: 5px;
}
.checkbox-inline .form-type-checkbox,
.radio-inline .form-type-radio{
  display: inline-block;
  padding-right: 25px;
}
.checkbox-inline label,
.radio-inline label{
  margin-bottom: 0px;
}
.form input[type="text"], .form input[type="email"], .form input[type="number"], .form input[type="url"], .form input[type="search"], .form input[type="tel"], .form input[type="password"], .form input[type="date"], .form input[type="color"], .form select {
  max-width: 100%;
}

/* Five Star */
.form-type-fivestar .form-type-select{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.fivestar-user-stars{
  display: inline-block;
  margin-bottom: 20px;
}
.form-actions .btn + .btn{
  margin-left: 10px;
}

/* Icons */
.box1 > i {
  display: inline-block;
  margin-right: 5px;
  min-width: 70px;
  min-height: 70px;
  border-right: 1px solid #f1f1f1;
  line-height: 70px;
  text-align: center;
  font-size: 32px;
}

/* Cart block */
.line-item-summary{
  text-align: left;
  margin-top: 30px;
  font-size: 13px;
  color: #777;
}
.line-item-total{
  float: left;
}
.line-item-summary .links{
  margin: 0;
}
.line-item-summary .line-item-total-label {
  font-weight: normal;
}
.line-item-summary .line-item-total-raw {
  font-weight: bold;
}
.line-item-summary li{
  list-style: none;
}
.line-item-summary-view-cart{
  float: right;
  margin-top: -28px;
}

/* Tags */
.tags {
  display: inline-block;
}

/* Views List */
.item-list ul{
  margin: 0;
  padding: 0;
}
.item-list ul li{
  padding: 5px 0;
  list-style: none;
}
.view-header{
  margin-bottom: 40px;
  float: left;
}
.views-exposed-widget label,
.view-header{
  font-size: 18px;
  font-weight: 300;
  color: #777;
  line-height: 1.7778;
}
.view-filters{
  float: right;
  margin-top: -20px;
}

/* Views Ajax submit */
.ctools-auto-submit-full-form .views-submit-button{
  display: none;
}
.ctools-auto-submit-full-form .views-widget-sort-order{
  padding-right: 0;
}

/* Cart Page */
#views-form-commerce-cart-form-default .line-item-summary:before,
#views-form-commerce-cart-form-default .form-actions:after{
  display: block;
  content: ' ';
  clear: both;
  border-bottom: 1px solid #eee;
  background-color: rgba(255,255,255, .08);
  padding: 20px 0;
  margin-top: -57px;
  margin-bottom: 15px;
}
#views-form-commerce-cart-form-default .form-actions:after{
  margin-top: -3px;
  padding-top: 0;
}
#views-form-commerce-cart-form-default table td,
#views-form-commerce-cart-form-default table th{
  vertical-align: middle;
}
#views-form-commerce-cart-form-default .views-field-edit-quantity input{
  height: 31px;
  width: 60px;
}
#views-form-commerce-cart-form-default .views-field-edit-quantity .form-item,
#views-form-commerce-cart-form-default .views-field-edit-quantity .form-group{
  margin-bottom: 0;
}

/* Background overlay */
.main-wrap{
  position: relative;
  z-index: 100;
}

/* Owl Slider */
.owl-item img{
  width: 100%; /* Required in case if image width less then owl container - example on the project node page */
}
.small-item-carousel img{
  width: auto;
}

/* Blog Date fix */
.blog-item-date{
  display: none;
}
.fullwidth-date .blog-item-date{
  display: block;
}
.blog-item-data > div{
  display: inline;
}

/* Portfolio Promo */
.views-row-1 .page-section{
  padding-top: 0;
}
.mb-fix-40 .content-slider.mb-40{
  margin-bottom: 0;
}

/* Contact */
.height-84{
  height: 84px;
}

/* Accordion */
.accordion > dd {
  padding-bottom: 0;
}

/* Features */
.tpl-alt-tabs-cont {
  padding: 30px 0;
  color: #777;
  line-height: 1.8;
}
.alt-features-item,
.alt-features-grid {
  margin-top: 0;
}

/* Background */
.bg-dark-alfa-70 blockquote,
.bg-dark-alfa-90 blockquote{
  color: #fff;
}

/* Title */
.ls-01{
  letter-spacing: 0.1em;
}
.ls-02{
  letter-spacing: 0.2em;
}
.ls-03{
  letter-spacing: 0.3em;
}
.ls-04{
  letter-spacing: 0.4em;
}
.ls-05{
  letter-spacing: 0.5em;
}
.ls-06{
  letter-spacing: 0.6em;
}
.ls-07{
  letter-spacing: 0.7em;
}
.ls-08{
  letter-spacing: 0.8em;
}
.ls-09{
  letter-spacing: 0.9em;
}
.ls-10{
  letter-spacing: 1em;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-600{
  font-weight: 600;
}
.text h3 a{
  color: #111;
}
.bg-title{
  margin-top: 0;
  display: inline-block;
  position: relative;
  padding: 1px 10px;
  background: rgba(0,0,0, .9);
}
.hs-line-10-nobg{
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

/* Newsletter */
.newsletter-293{
  float: left;
  width: 374px;
}
@media(min-width: 1200px){
  .newsletter-293{
    margin-left: 100px;
  }
}

/* Featured Benefits */
.benefit-item:nth-child(4){
  margin-right: -40px;
}
.benefit-item{
  text-align: center;
}

/* Search */
.search-advanced{
  margin: 30px 0 60px 0;
  min-height: 30px;
}
.search-wrap .form-control{
  height: 51px !important;
}

/* Product teaser - default styles if it's not under VIEW */
.view .col-default{
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  float: none;
}

/* Header */
.header-align-left h1,
.header-align-left div{
  text-align: left;
}

/* Login Fix */
#user-login .form-item-name input{
  text-transform: none;
}

/* Views links */
.views-summary > li > a {
  color: #555;
  text-decoration: none;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

/* Link */
.btn-color a{
  color: #fff;
}
.btn-gray a{
  color: #000;
}
.btn-color a:hover,
.btn-gray a{
  text-decoration: none;
}

/* Background overlay fix */
.bg-color-alfa-90 > * {
  position: relative;
}

/* Owl pager dark */
.bg-gray .owl-page span,
.bg-light-alfa-90 .owl-page span,
.pagination-black .owl-page span{
  border-color: rgba(0,0,0, .4);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.bg-gray .owl-page.active span,
.bg-gray .owl-page:hover span,
.bg-light-alfa-90 .owl-page.active span,
.bg-light-alfa-90 .owl-page:hover span,
.pagination-black .owl-page.active span,
.pagination-black .owl-page:hover span{
  background-color: rgba(0,0,0, .5);
}

/* Owl pager disabled  */
.no-pagination .owl-controls{
  display: none !important;
}