html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: arial;
}
html{
  height: 100%;
}
ol, ul{
  list-style: none;
}
a{
  color: #B9A588;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
html body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: arial;
  font-size: 10px;
  background-color: #fff;
}
#theme-switcher{
  height: 45px;
  background-color: #000;
  border-bottom: 1px solid #191919;
  z-index: 100;
  line-height: 53px;
  color: #B9A588;
}
#theme-switcher .logo{
  border-radius: 5px;
  margin: 4px 12px 0 12px;
  float: left;
  height: 40px;
}
#themes{
  float: left;
  position: relative;
}
.remove-frame,
.purchase-theme{
  float: right;
  line-height: 21px;
}
.purchase-theme{
  background-color: #8a765b;
  color: #fff;
  margin: 7px 0 0 20px;
  display: block;
  padding: 6px 16px;
  font-size: 13px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin-right: 15px;
}
.purchase-theme i{
  padding-right: 14px;
  font-size: 18px;
  position: relative;
  top: 1px;
}
.remove-frame i{
  font-size: 23px;
  margin: 11px 15px 0 10px;
}
#active_theme{
  margin: 7px 0 0 20px;
  width: 215px;
  display: block;
  padding: 6px 16px;
  float: left;
  background: #202020;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  line-height: 21px;
  text-transform: capitalize;
}
#themes i {
  right: 27px;
  position: relative;
  float: right;
  font-size: 23px;
  font-weight: bold;
  top: 17px;
}
#themes-list{
  display: none;
  margin: 0px 0 0 19px;
  position: absolute;
  width: 243px;
  top: 44px;
  height: auto;
  overflow: auto;
  z-index: 99999;
  left: 3px;
  background: #202020;
  overflow: hidden;
}
#themes-list a{
  padding: 6px 16px;
  text-transform: capitalize;
}
#themes-list li{
  border-top: 1px solid #B9A588;
  border-top: 1px solid rgba(185, 165, 136, 0.28);
  line-height: 42px;
}
.preview{
  display: none;
  height: 298px;
  left: 240px;
  margin: 39px 0 0 20px;
  padding: 5px 6px 8px 5px;
  position: absolute;
  width: 590px;
  z-index: 330;
}
.preview img{
  border: 7px solid #202020;
}